In [26]:
import re
email = input('Enter Email:')
print(re.findall(r'\w+[.]', email)[0][:-1])

Enter Email:singerhamdan@gmail.com
gmail

In [29]:
items = input()
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Hamdan,Armaan,Zaid
Armaan,Hamdan,Zaid

My notebook for Sets

In [65]:
#Creating a set 
# Note: Sets are unordered, so you cannot be sure in which order the items will appear.

set1 = {"Hamdan", "Armaan", "Zaid"}
print(set1)

{'Zaid', 'Armaan', 'Hamdan'}

In [67]:
#Loop through sets

set2 = {"Hakeem", "Hamdan", "Mohammed"}

for i in set2:
  print(i)

Mohammed
Hamdan
Hakeem

In [70]:
#find in set
set3 = {"Hakeem", "Hamdan", "Mohammed"}

print("Hamdan" in set3)

True

In [72]:
#addition in set
set4 = {1,2,3,4,5,6}
set4.add("Armaan")
print(set4)

{1, 2, 3, 4, 5, 6, 'Armaan'}

In [75]:
#update existing set 
set5 = {1,2,3,4,5,6}
set5.update(["Armaan"])
print(set5)

{1, 2, 3, 4, 5, 6, 'Armaan'}

In [76]:
set6 = {1,2,3,4,5,6}
print(len(set6))

6

In [81]:
set7 = {"Hamdan", "Hakeem", "Mohammed"}

set7.remove("Hakeem")

print(set7)

{'Mohammed', 'Hamdan'}

In [89]:
def getMissingNo(num):
    n = len(num)
    total = (n + 1)*(n + 2)/2
    sum_of_num = sum(num)
    return total - sum_of_num
 

num = [1,2,4,6,3,7,8]
miss = getMissingNo(num)
print(miss)

5.0

In [91]:
mylist = [12,24,35,24,88,120,155,88,120,155]
mylist = list(dict.fromkeys(mylist))
print(mylist)

[12, 24, 35, 88, 120, 155]